# Auto detect text files and perform LF normalization
* text=auto

# Declare files that must always have LF line endings on checkout
*.sh text eol=lf
gradlew text eol=lf

# Denote all files that are truly binary and should not be modified
*.jar binary
*.webp binary
*.png binary
